---
Checks: >
    # Checks to include
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    readability-*,
    modernize-*,

    # Checks to exclude
    -*,
    -clang-analyzer-osx.*,
    -clang-analyzer-fuchsia.*,
    -clang-analyzer-optin.osx.*,
    -bugprone-easily-swappable-parameters,
    -bugprone-narrowing-conversions,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-uppercase-literal-suffix,
    -readability-magic-numbers,
    -readability-isolate-declaration,
CheckOptions:
    - key: readability-function-cognitive-complexity.IgnoreMacros
      value: true
FormatStyle: LLVM
WarningsAsErrors: "*"
