# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Source\imperialCHEPI\healthgps\source codebase based on best match to current usage at 03/06/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true

[*.{h,cpp}]
vc_generate_documentation_comments = doxygen_triple_slash
